
  <%if(utilLogat != null){%>
    <h4 class="login">
        Logat ca <%=utilLogat%>
    </h4>
  <%}%>
  
  
  <div class="b">
  <form action="/verificare-autentificare", method="POST">
  
  <h1>Autentificare</h1>
  
    <label for="username">User:</label>
    <input  name ="username" type="text" ><br>
    <label  for="pass:">Parola:</label>
    <input name="pass" type="password"><br>
    <button type="submit">Autentificare</button>
  
  </form>
</div>