
  <h1>Date de comandă</h1>
  <div class="b">
  <label for="nume1">Nume:</label>
  <input  name ="nume1" type="text" ><br>
  <label for="prenume1">Prenume:</label>
  <input  name ="prenume1" type="text" ><br>
  <label for="adresa">Adresa:</label>
  <input  name ="adresa" type="text" ><br>
  <label for="telefon">Telefon:</label>
  <input  name ="telefon" type="text" ><br>
  <label for="email">Email:</label>
  <input  name ="email" type="text" ><br>
  
  <button type="submit" id="myBtn">Trimite</button>






<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Comandă finalizată!</h2>
    </div>
    <div class="modal-body">
      <p>În scurt timp veți primi un email de confirmare! </p>
    </div>
    <div class="modal-footer">
      <h3>Vă mulțumim că ați comandat de la noi! :)</h3>
    </div>
  </div>

</div>

<script src="/modal.js"></script>