<h1 id="titlu">Contact</h1>
<div id="flex1">
<img src="/contact.jpg"  width="500" height="300"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<p id="incarcaPersoane"></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2713.0059096420546!2d27.60198201549163!3d47.157738679157454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sro!2sro!4v1622212750347!5m2!1sro!2sro" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>  


<script>incarcaPersoane();</script>

<script src="/contact.js"></script>

