<div class="slideshow-container">


     <div class="mySlides fade">
       <div class="numbertext">1 / 18</div>
       <img src="/o01.jpg" width="1000" height="600">
       <div class="text">Masline negre</div>
     </div>
   
     <div class="mySlides fade">
       <div class="numbertext">2 / 18</div>
       <img src="/o02.jpg"  width="1000" height="600">
       <div class="text">Măsline în proces de coacere</div>
     </div>
   
     <div class="mySlides fade">
       <div class="numbertext">3 / 18</div>
       <img src="/o03.jpg" width="1000" height="600">
       <div class="text">Măsline verzi</div>
     </div>
   
     <div class="mySlides fade">
         <div class="numbertext">4 / 18</div>
         <img src="/o04.jpg" width="1000" height="600">
         <div class="text">Plantație de măslini</div>
       </div>
       <div class="mySlides fade">
         <div class="numbertext">5 / 18</div>
         <img src="/o05.jpg" width="1000" height="600">
         <div class="text">Măslin</div>
       </div>
       <div class="mySlides fade">
         <div class="numbertext">6 / 18</div>
         <img src="/o06.jpg" width="1000" height="600">
         <div class="text">Măslin</div>
       </div>
       <div class="mySlides fade">
         <div class="numbertext">7 / 18</div>
         <img src="/o07.jpg" width="1000" height="600">
         <div class="text">Măsline culese</div>
       </div>
       <div class="mySlides fade">
         <div class="numbertext">8 / 18</div>
         <img src="/o08.jpg" width="1000" height="600">
         <div class="text">Alegerea măslinelor</div>
       </div>
       <div class="mySlides fade">
         <div class="numbertext">9 / 18</div>
         <img src="/o09.jpg" width="1000" height="600">
         <div class="text">Culesul măslinelor</div>
       </div>
       <div class="mySlides fade">
         <div class="numbertext">10 / 18</div>
         <img src="/o10.jpg" width="1000" height="600">
         <div class="text">Punerea in saci a măslinelor</div>
       </div>
       <div class="mySlides fade">
         <div class="numbertext">11 / 18</div>
         <img src="/o11.jpg" width="1000" height="600">
         <div class="text">Măslinele în fabrică</div>
       </div>
       <div class="mySlides fade">
         <div class="numbertext">12 / 18</div>
         <img src="/o12.jpg" width="1000" height="600">
         <div class="text">Măslinele în fabrică</div>
       </div>
 
       <div class="mySlides fade">
         <div class="numbertext">13 / 18</div>
         <img src="/o13.jpg" width="1000" height="600">
         <div class="text">Zdrobirea măslinelor</div>
       </div>
     
       <div class="mySlides fade">
           <div class="numbertext">14 / 18</div>
           <img src="/o14.jpg" width="1000" height="600">
           <div class="text">Zdrobirea măslinelor</div>
         </div>
         <div class="mySlides fade">
           <div class="numbertext">15 / 18</div>
           <img src="/o15.jpg" width="1000" height="600">
           <div class="text">Zdrobirea măslinelor</div>
         </div>
         <div class="mySlides fade">
           <div class="numbertext">16 / 18</div>
           <img src="/o16.jpg" width="1000" height="600">
           <div class="text">Uleiul din măslinele zdrobite</div>
         </div>
         <div class="mySlides fade">
           <div class="numbertext">17 / 18</div>
           <img src="/o17.jpg" width="1000" height="600">
           <div class="text">Ulei</div>
         </div>
         <div class="mySlides fade">
           <div class="numbertext">18 / 18</div>
           <img src="/o18.jpg" width="1000" height="600">
           <div class="text">Ulei de măsline</div>
         </div>
   
     <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
     <a class="next" onclick="plusSlides(1)">&#10095;</a>
   </div>
   <br>
   

   <div style="text-align:center">
     <span class="dot" onclick="currentSlide(1)"></span>
     <span class="dot" onclick="currentSlide(2)"></span>
     <span class="dot" onclick="currentSlide(3)"></span>
     <span class="dot" onclick="currentSlide(4)"></span>
     <span class="dot" onclick="currentSlide(5)"></span>
     <span class="dot" onclick="currentSlide(6)"></span>
     <span class="dot" onclick="currentSlide(7)"></span>
     <span class="dot" onclick="currentSlide(8)"></span>
     <span class="dot" onclick="currentSlide(9)"></span>
     <span class="dot" onclick="currentSlide(10)"></span>
     <span class="dot" onclick="currentSlide(11)"></span>
     <span class="dot" onclick="currentSlide(12)"></span>
     <span class="dot" onclick="currentSlide(13)"></span>
     <span class="dot" onclick="currentSlide(14)"></span>
     <span class="dot" onclick="currentSlide(15)"></span>
     <span class="dot" onclick="currentSlide(16)"></span>
     <span class="dot" onclick="currentSlide(17)"></span>
     <span class="dot" onclick="currentSlide(18)"></span>
   </div>
 
   <script src="/script.js"></script>
  