
  <div id="home1">
    
     <h2 id="sect">Istoria Măslinului</h2>
     <p>
  <h1 id="intro">
  <br>
  <br>Măslinul este un arbore din familia oleacee, originar din Siria și zonele de litoral din Turcia, foarte răspândit și în Grecia continentală și în arhipelagul elen. Este considerat "arborele veșnic roditor", fiind un arbore cu o longevitate extraordinară, având o uimitoare putere de regenerare, dând mereu rădăcini și lăstari noi.

 <br> Genul olea conține în jur de 20 de specii larg răspândite în jurul globului. Sunt pomi mici întâlniți în zonele limitrofe Mării Mediterane, în sudul Africii, în sud-estul Asiei, în estul Australiei. Frunzele măslinilor se mențin verzi pe întreaga durată a anului.
  
  <br>Măslinul preferă climate cu ierni blânde și veri toride, se dezvoltă foarte bine pe soluri calcaroase atinse de briza mării.
  
  
  <br>
  <br>
  <br>
  <br>
 
  <br> Olea europaea, măslinul european, este cea mai cunoscută specie din genul Olea, fiind apreciat încă din antichitate. Măslinele erau folosite fie pentru obținerea uleiului de măsline, fie erau consumate ca fructe. Pentru că au un gust amar, măslinele treceau printr-un proces natural de fermentare sau erau consumate în saramură.
  
  <br> Măslinul sălbatic este un pom mic cu aspect de tufiș, cu creștere lentă și crengi presărate cu ghimpi. Varietățile cultivate prezintă multe deosebiri, dar în general sunt lipsiți de spini, mai compacți și mai productivi. Măslinii au o creștere lentă, dar sunt și foarte longevivi. Lăsați să se dezvolte natural, măslinii pot avea trunchiuri de dimensiuni considerabile, fiind înregistrate recorduri de peste 10 metri în diametru și peste șapte secole de viață. În Italia se crede că unii din cei mai bătrâni măslini datează din primii ani ai Imperiului Roman, părere infirmată de mulți specialiști.
  
  <br> Există în jur de 20 de specii de măslini, printre acestea se numără: Olea brachiata, Olea capensis, Olea caudatilimba, Olea europaea, Olea exasperata, Olea guangxiensis, Olea hainanensis, Olea laxiflora, Olea neriifolia, Olea paniculata, Olea parvilimba, Olea rosea, Olea salicifolia, Olea tetragonoclada, Olea tsoongii, Olea undulata.
  <br> <br> <br> <br> <br> <br> <br> <br>  <br> <br> <br> <br> <br> <br> <br> <br>  <br> <br> <br> <br> <br> <br> <br> <br>
</h1></p>

</div>
 
 

