
    <div class="container">
    
        <h2 id="sect">Măsline verzi vs Măsline negre</h2><br>
        <div class="play-area">
        </div>
        <br>
        <h2 id="winner"></h2>
        <button id="game0" onclick="reset_board()">RESET</button>
    </div>
    <script src="/game.js"></script>

