 
<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/script.js"></script>
   
    
    
    <title>Malina</title>
    <meta charset="utf-8"/>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <img src="titlu_background.jpg" alt="nustiu" width="200" height="300" class="center1"/>
    <p><h1 id="myP" onmousedown="mouseDown()" onmouseup="mouseUp()">Malina's Olives </h1></p>
    <img src="/train2.png" />
    <hr>
    <div class="navtema">
    <a href="http://localhost:6789/">Acasa</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:6789/galerie">Galerie</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:6789/chestionar">Chestionar</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:6789/desen">Desen</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:6789/joc">Joc</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:6789/cumparaturi">Cumparaturi</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:6789/recenzii">Recenzii</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:6789/contact">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;

   </div>
    
  </head>
  <body>
    
      <header>   
        
    
      </header>
    <main id="content">
        <%-body-%> <br/>
   
    <footer>
        &copy;IchimPaulaMadalina
    </footer>
  </main>



  </body>
</html>
