
<h2>Recenzii</h2>

<div class="container4">
  <img src="/om2.jpg" alt="Avatar" style="width:80%;">
  <p>Produse excelent confecționate!</p><br><br>
  <span class="time-right"> 21.04.2021 11:00</span>
</div>

<div class="container4 darker">
  <img src="/om1.jpg" alt="Avatar" class="right" style="width:80%;">
  <p>Copilul meu iubește acest site!</p><br><br>
  <span class="time-left"> 22.04.2021 11:01</span>
</div>

<div class="container4">
  <img src="/om3.jpg" alt="Avatar" style="width:80%;">
  <p>Foarte drăguț ambientul!</p>
  
  <span class="time-right"> 23.04.2021 11:02</span>
</div>

<div class="container4 darker">
  <img src="/om4.jpg" alt="Avatar" class="right" style="width:80%;">
  <p>Cănile comandate sunt pur și simplu minunate!</p><br><br>
  <span class="time-left">24.04.2021 11:05</span>
</div>

<div class="container4">
    <img src="/om5.jpg" alt="Avatar" style="width:80%;">
    <p>Copilul meu adoră să deseneze pe acest site!</p><br>
    
    <span class="time-right"> 23.04.2021 11:02</span>
  </div>
  
  <div class="container4 darker">
    <img src="/om6.jpg" alt="Avatar" class="right" style="width:80%;">
    <p>Comanda mi-a venit rapid, iar pătura și pernele sunt super moi și comfortabile, le ador!!</p><br><br>
    <span class="time-left">24.04.2021 11:05</span>
  </div>
