
 <div class="container">
   <img src="green.jpg" alt="Notebook" style="width:100%;">
   <div class="content1"> 
    <h1>MĂSLINA's OLIVES!</h1>
    <br>
    <img src="oli.png" alt="congrats" class="center2"/>
    <br>
   <h1>FELICITARI!!</h1>
   <br>
   <h2>

   Scorul testului tău este:<%=raspuns%>/8
 </h2>
   </div>
 </div>